<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduSense Lecturer Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/aa11ee7bbf.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="icon-container">
        <form action="{{ url_for('main.logout') }}" method="POST" id="logout-form" style="display: inline;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="logout-btn">
                <i class="fa-solid fa-arrow-right-from-bracket"></i> Log Out
            </button>
        </form>
        
        <script>
            function confirmLogout() {
                if (confirm("Are you sure you want to log out?")) {
                    document.getElementById("logout-form").submit();
                }
            }
        </script>   
        
    </div>
    <div class="container">
        <div class="sidebar">
            <h2>EduSense</h2>
            <p>Lecturer Navigation Panel</p>
            <ul>
                <li><i class="fa-solid fa-house" style="color: #6F251B;" class = "active"></i>
                    <a href="{{url_for('main.lecturer_dashboard')}}">Dashboard</a></li>
                <li><i class="fa-solid fa-clipboard" style="color:#6F251B;"></i>
                    <a href="">Register Units</a></li>
                <li><i class="fa-solid fa-clipboard" style="color:#6F251B;"></i>
                    <a href="">Post Attendance Records</a></li>
                <li><i class="fa-solid fa-book" style="color:#6F251B;"></i>
                    <a href="">Post Student Grades</a></li>
                <li><i class="fa-solid fa-person" style="color:#6F251B;"></i>
                    <a href="">Mentor Login</a></li>
            </ul>
        </div>
        <div class="main-content">
                <h1>Welcome</h1>
                <div class="personal-info">
                    <h2>Lecturer Information</h2>
                <div class="profile-info">
                    <img src="student.jpg" alt="">
                    <div class="student-details">
                        <p><strong>Lecturer Name : {{lecturer.full_name}}</strong></p>
                        <p><strong>Staff ID Number : {{lecturer.lecturer_number}}</strong></p>
                        <p><strong>Faculty : {{lecturer.school}}</strong></p>
                    </div>
                </div>
            <section>
                <div class="personal-info">
                    <h2>Additional Information</h2>
                    <table>
                        <tr>
                            <td><strong>Mobile Number:</strong></td>
                            <td>{{lecturer.mobile_number}}</td>
                        </tr>
                        <tr>
                            <td><strong>Email Address (Personal):</strong></td>
                            <td>{{lecturer.email}}</td>
                        </tr>
                    </table>
                </div>
            </section>
            <footer>
                <p>&copy; 2024</p>
            </footer>
        </div>
    </div>
</body>
</html>