<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduSense Lecturer Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/aa11ee7bbf.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="icon-container">
        <button class="register-unit-btn">
            <i class="fa-solid fa-plus"></i> Register Unit
        </button>
        <button class="logout-btn">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>Log Out
        </button>
    </div>
    <div class="container">
        <div class="sidebar">
            <h2>EduSense</h2>
            <p>Lecturer Navigation Panel</p>
            <ul>
                <li><i class="fa-solid fa-house" style="color: #6F251B;" class = "active"></i>
                    <a href="{{url_for('lecturer_dashboard')}}">Dashboard</a></li>
                <li><i class="fa-solid fa-clipboard" style="color:#6F251B;"></i>
                    <a href="{{url_for('register_unit')}}">Register Units</a></li>
                <li><i class="fa-solid fa-clipboard" style="color:#6F251B;"></i>
                    <a href="{{url_for('lecturer_attendance')}}">Post Attendance Records</a></li>
                <li><i class="fa-solid fa-book" style="color:#6F251B;"></i>
                    <a href="{{url_for('input_grades')}}">Post Student Grades</a></li>
                <li><i class="fa-solid fa-person" style="color:#6F251B;"></i>
                    <a href="{{url_for('mentor_login')}}">Mentor Login</a></li>
            </ul>
        </div>
        <div class="main-content">
            <section>
                <div class="attendance-section">
                    <h2>Class Attendance Records</h2>
                </div>
                <div class="academic-info">
                    <h2>Ongoing Units</h2>
                    <form method="GET" action="/handle_academic_year_selection">
                        <select name="academic_year" id="academic-year" onchange="this.form.submit()">
                            <option value="2020">-</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <!-- Add more options based on available years -->
                        </select>
                    </form>
                    <table>
                        <tr>
                            <td><strong>Unit Code</strong></td>
                            <td><strong>Name</strong></td>
                            <td><strong>Course</strong></td>
                            <td><strong>Group</strong></td>
                            <td><strong>Academic Period</strong></td>
                        </tr>

                    </table>
                </div>
                <div class="academic-info">
                    <h2>Past Units</h2>
                    <form method="GET" action="/handle_academic_year_selection">
                        <select name="academic_year" id="academic-year" onchange="this.form.submit()">
                            <option value="2020">-</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <!-- Add more options based on available years -->
                        </select>
                    </form>
                    <table>
                        <tr>
                            <td><strong>Unit Code</strong></td>
                            <td><strong>Name</strong></td>
                            <td><strong>Group</strong></td>
                            <td><strong>Course</strong></td>
                            <td><strong>Academic Period</strong></td>
                        </tr>

                    </table>
                </div>
            </section>
            <footer>
                <p>&copy; 2024</p>
            </footer>
        </div>
    </div>
</body>
</html>